
	/* Create a sticky/fixed navbar */
	
	#navbar {
	  overflow: hidden;
	  background-color: #A7095D;
	  padding: 50px 10px; /* Large padding which will shrink on scroll (using JS) */
	  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
	  position: fixed; /* Sticky/fixed navbar */
	  width: 97%;
	  top: 0; /* At the top */
		z-index: 99; 
		font-family: 'Poppins', sans-serif;
	}

	/* Style the navbar links */
	#navbar a {
		float: left;
	  	color: white;
		/*text-align: left;*/
		padding-top: 10px;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 10px;
		text-decoration: none;
		font-family: sans-serif;
		font-weight: oblique;
		font-size: 15px; 
		font-family: 'Poppins', sans-serif;
	  	line-height: 10px;
		border-radius: 0px;
		margin: auto;
		widows: 50%;
		max-height: 50px;
	}


	/* Style the logo */
	.navbar a.logo {
		transition: 0.4s;
		display: block;
		margin: auto;
		width: 1%;
		position: relative;
		left: 50%;

	}

	/* Links on mouse-over */
	#navbar a:hover {
	  background-color: #E2B6CD;
	}

	/* Style the active/current link */
	#navbar a.active {
		background-color: #E2B6CD;
		height: 10px;
		widows: 10px;
	  	color: white;
	}

	/* Display some links to the right */
	#navbar-right {
		float: left;
		position: absolute;
		top: 65%;
		left: 20%;
	}

	/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
	@media screen and (max-width: 580px) {
	  #navbar {
	    padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
	  }
	  #navbar a {
	    float: none;
	    display: block;
	    text-align: center;
	  }
	  #navbar-right {
	    float: none;
		}

	  .photo {
		  float: none;
		  display: block;
		  border-radius: 50%;
			-webkit-border-radius: 50%; 
			-moz-borde5r-radius: 50%; 
			-ms-border-radius: 50%; 
			-o-border-radius: 50%; 
			position: absolute;
			top:40%;
			left:20%;
	  }
	  
	  h3 {
		  float: none;
		  display: block;
	  }

	  h1 {
		  float: none;
		  display: block;
	  }

	  #prog {
		  position: absolute;
		  top: 50%;
	  }

	  form {
		  position: absolute;
		  top: 20%;
	  }

	  h2 {
		  position: absolute;
		  top:10%;
	  }

	  #ctc h1 {
		  position: absolute;
		  top: 25%;
		  left: 35%;
	  }
	}

	h1 {
		font-size: 100px;
		position: absolute;
		text-align: center;
		top: 30%;
		left: 45%;

	}

	h3 {
		font-style: oblique;
		text-align: center;
		position: absolute;
		left: 45%;
		top: 65%;
	}

	.photo {
		border-radius: 50%;
		-webkit-border-radius: 50%; 
		-moz-borde5r-radius: 50%; 
		-ms-border-radius: 50%; 
		-o-border-radius: 50%; 
		position: absolute;
		top:40%;
		left:20%;
	}

	html {
		position: static;
		font-family: 'Poppins', sans-serif;
	}

	#ed {
		background-color: black;
		background-image: url("ed.png");
		background-size: 1500px;
		background-position-y: 100px;
		background-repeat: no-repeat;	
		color: white;
	}

  #ed ul {
		list-style-type: none;
		color: white;
		font-weight: lighter;
		font-style: normal;
		position: absolute;
		bottom:110px;
		right: 250px;
	}

	#ctc {
		background-color: black;
		color: white;
	}

	#ctc h1 {
		position: absolute;
		left: 30%;
		top: 20%;
	}

	#mail {
		position: absolute;
		top: 50%;
		left: 34%;
	}

	#li {
		position: absolute;
		top: 50%;
		left: 47%;
	}
	
	#twt {
		position: absolute;
		top: 50%;
		left: 60%;
	}

	#ctc h4 {
		color: white;
		position: absolute;
		top: 69%;
		left: 45%;
	}

	#gl {
		position: absolute;
		top: 77%;
		left: 46.5%;
	}

	#prog {
		position: absolute;
		top: 20%;
		left: 0%;
		margin: 50px;
	}
	
	h2 {
		color:white;
		position: absolute;
		top: 25%;
		left: 47%;
		
	}

	form {
		position: absolute;
		top: 40%;
		left: 25%;
		right: 20%;
		max-width: 600px;
	}

	.container {
		display: inline-block;
	}
