{% load static %}

<!DOCTYPE html>
<html>
<title>Subscribe!</title>
<head>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'subs.css' %}" />
</head>
<body>
  <!-- body of Card subscribe -->
<div class="subscribe">

  

  <h2>subscribe to me</h2>
  <p>if you dont think i'm annoying</p>
  <form method="post" onsubmit="window.submit()">
    {{form.nama}}
    {{form.email}}
    {{form.password}}
        <button type="submit" id="button" formnovalidate="formnovalidate">Subscribe</button>
        <button type="submit" id="unsub">Unsubscribe</button>
  </form>

  <form method="post" id="email" onsubmit="window.hapus()">
    {% csrf_token %}
    {{form.email1}}
        <button type="submit" id="unsub1" formnovalidate="formnovalidate">Unsubscribe</button>
  </form>

  </div>

<div class="container">
  <table id="tabel" class="table table-light table-bordered table-hover" style="background-color: whitesmoke; color: black;">
    <tbody>
    <thead>
      <tr style="background-color: black; color: white;">
        <th scope="col" style="text-align: center;">No</th>
        <th scope="col" style="text-align: center;">Name</th>
        <th scope="col" style="text-align: center;">Email</th>
      </tr>
    </thead>
    </tbody>
  </table>  
</div>

<script type="text/javascript">
  document.getElementById("button").disabled = true;
  var email = document.getElementById('text2');
  var time = null;

  email.onkeyup = function(e){
    clearTimeout(time);
    time = setTimeout(function(){
      $.ajax({
        method : 'POST',
        url : "{% url 'validate' %}",
        data : {
          'email' : email.value
        },
        dataType : 'json',
        success: function(data){
          if(data.is_taken){
            alert("Email sudah terdaftar, masukkan email lain");
            email.value = "";
          }
          else{
            document.getElementById("button").disabled = false;
            alert("Email dapat digunakan");
          }
        }
      })
    }, 1200);
  }

  function submit(){
    console.log("submit")
    event.preventDefault();
    register();
  }

  function register(){
    console.log("register")
    var nama = document.getElementById("text1");
    $.ajax({
      type : "POST",
      url : "{% url 'addSubscribe' %}",
      dataType: 'json',
      data :{
        nama : $('#text1').val(),
        email : $('#text2').val(),
        password : $('#text3').val(),
      },
      success: function(result){
        alert($('#text1').val() + " telah terdaftar")
        window.location.reload();
      }
    })
  }

  function list(data){
    var temp = "<tr>"
    for (i = 0; i < data.length; i++){
      print += '<th scope = "row">' + (i+1) + '</th>';
      print += '<th>' + data[i].nama + '</td>';
      print += '<th>' + data[i].email + '</td></tr>';
    }
    $('tbody').append(print);
  }

  function delete(){
    $.ajax({
      method : "POST",
      url : "{% url 'unSubscribe' %}",
      data : {
        email : $('#text4').val(),
      },
      success : function(){
        document.getElementById('unsub').disabled = true;
        alert("Succesfully Unsubscribed")
        $('#alert4').val() = '';
      }
    })
  }

  $("#email").hide();
  var temp = document.getElementById("tabel");
  $.ajax({
    url : "{% url 'addSubscribe' %}",
    dataType : 'json',
    success : function(result){
      list(result);
    }
  })

  $("#unsub").click(function(){
    $("#form").hide();
    $("#email").show();
  });

</script>
</body>
</html>

