

	/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
	@media screen and (max-width: 580px) {

	  h1 {
		  float: none;
		  display: block;
	  }
	}

	body{
		background-color: pink;
	}

	h1 {
		font-size: 60px;
		position: absolute;
		text-align: center;
		top: 20%;
		left: 5%;

	}

	a {
		position: absolute;
		left: 40%;
		top: 20%;
	}

	html {
		position: static;
		font-family: 'Poppins', sans-serif;
	}
	

	.table {
		position: absolute;
		left: 20%;
		top: 35%;
	}

	#form {
		position: relative;
		left: 20%;
		top: 20%;
	}

	.btn {
		position: relative;
		left: 40%;
		top: 20%;
	}

	#id_content {
		position: absolute;
		left: 20%;
		top: 45%;
	}

	label {
		position: absolute;
		left: 10%;
		top: 45%;
	}

