<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Mila</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.w3schools.com/js/myScript1.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
     <style type="text/css">
      body{
        background: linear-gradient(to right, #ccffff, #ffccff); 
      }
      #myInput{
          background-image: url('https://img.icons8.com/cotton/50/000000/search.png');
          background-position: right;
          background-repeat: no-repeat;
          width: 30%;
          font-size: 16px;
          padding: 12px 20px 12px 40px;
          border: 1px solid #ddd;
          margin-bottom: 12px;
      }
    </style>


</head>

<body >
  
  <br>
  
  <h1 id="judul" style="text-align: center;font-size: 60px;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; ">List of Books</h1>
  <br>


  {% block content %}
  {% if user.is_authenticated %}
             <p class="display-4" style="text-align: center;">Hello, {{ user.first_name }}</p>
             <!-- <a href="https://mail.google.com/mail/u/0/?logout&hl=en"> Log Out</a> -->
             <!-- <a href="{% url 'logout' %}" style="align-content: center">Log Out</a> -->

             <a href="{% url 'login' %}" onclick="signOut();" style="text-align: center;">Sign out</a>
  {% else %}
             <a class="lead" href="{% url 'login' %}">Log in</a>
  {% endif %}
  {% endblock content %}

  <div  class="container-fluid" id="main">
    <h3 style="text-align: center;" id ="fav" >Favorites: </h3>

    <div class="front">
        <table class = "table table-striped table-light table-hover table-bordered" >
            <div>
                <br>
            </div>  
            <thead>
                <th style="text-align:center">Cover</th>
                <th style="text-align:center">Title</th>
                <th style="text-align:center">Author</th>
                <th style="text-align:center">Publisher</th>
                <th style="text-align:center">Published Date</th>
            </thead>
            <tbody id ="start" class="myTable">
            </tbody>
        </table>
        <br>
        <br>
    </div>
    </div>
</body>

  
  
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>

</html>
