<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="884845784432-eqcr2v6g1cpr0o19smoo97nfhj81thkq.apps.googleusercontent.com">

{% block content %}
  <h2>Login</h2>
   <br>
  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
{% endblock %}



<script type="text/javascript">
  
  function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
    console.log('Name: ' + profile.getName());
    console.log('Image URL: ' + profile.getImageUrl());
    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
}

</script>