{%extends 'main.html'%}
{%load static%}

{%block content%}
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <title>Mila Kaamiliaa - Sign Up</title>
    </head>
    <body>
    <h1 style="text-align: center">My Schedule</h1>
    <table class="table">
                <thead>
                    <th>Tanggal, Waktu</th>
                    <th>Kegiatan</th>
                    <th>Lokasi</th>
                    <th>Kategori</th>
                </thead>
                <tbody>
                    <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
                    {% for i in result %}
                    {% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
                    <tr class="warning"> {% else %} <tr class="success">
                        {% endif %}
                        <td> {{i.date}} </td>
                        <td> {{i.activity}} </td>
                        <td> {{i.location}} </td>
                        <td> {{i.category}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table></body>

    
{%endblock%}