{%extends 'main.html'%}
{%load static%}

{%block content%}
    <head>
            <title>Mila Kaamiliaa - Contact</title>
    </head>

    <body id="ctc">
        <h1>Contact Me!</h1>

        <a id="mail" href="https://www.instagram.com/milakaamiliaa" target="_blank"><img src="{%static 'mail.png'%}" width="100" height="80"></a>
        <a id="li" href="https://www.linkedin.com/milakaamiliaa/" target="_blank"><img src="{%static 'linkedin.png'%}" width="100" height="80"></a>
        <a id="twt" href="https://twitter.com/MilaKaamiliaa" target="_blank"><img src="{%static 'twitter.png'%}" width="100" height="80"></a>
   
        <h4>Be sure to check out</h4>
        <a id="gl" href="https://gitlab.com/milakaamiliaa" target="_blank"><img src="{% static 'gitlab.png'%}" width="110" height="80"></a>
   
    </body>
    {%endblock%}
