{%extends 'main.html'%}
{%load static%}

{%block content%}
    <head>
        <title>Mila Kaamiliaa - Education</title>
    </head>
    <body id="ed">
        <ul>
            <li>SMPN 216 JAKARTA</li>
            <li>2011 - 2014</li>
            <br><br><br>
            <li>SMAN 31 JAKARTA</li>
            <li>Mathematics & Natural Science Major, 2014 - 2017</li>
            <br><br><br>
            <li>UNIVERSITAS INDONESIA</li>
            <li>Information System Major, 2017 - now</li>
        </ul>          
    </body>
    {%endblock%}