<!DOCTYPE html>

<html>
{%load static%}
<head>
	<link rel="stylesheet" type="text/css" media="screen" href="{%static 'Homepage.css'%}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300" rel="stylesheet">

	<title>Mila Kaamiliaa</title>
</head>
<body>
	<div id="navbar">
  		<a href="{% url 'home' %}" class="logo"><img src="{%static 'logo.jpg'%}" width="90" height="100"></a>
  		<div id="navbar-right">
		<a href="{% url 'education' %}">Education.</a>
		<a href="{% url 'experience' %}">Experience.</a>
  		<a href="{% url 'home' %}">About Me.</a>
		<a href="{% url 'skills' %}">Skills.</a>
		<a href="{% url 'contact' %}">Contact.</a>
		<a href="{% url 'register' %}">Register</a>
		<a href="{% url 'schedule' %}">Schedule</a>
		<a href="{% url 'showSched' %}">Activity</a>
  		</div>
	</div>
</body>

{%block content%}
{%endblock%}

</html>