
<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div style="margin: 5%;">
		<h1>Hello, Apa kabaaaaaaaaaaaaaaaaaaaaaaaaar?</h1>
	    <form id = "form" action="{%url 'post'%}" method="POST">
	        {% csrf_token %}
	        {{ form.as_p }}

	        <br>
	        <button type="submit" class="btn btn-default">Submit</button> 
	        
	    </form>
	</div>

	<div class="table" style="margin: 5%;">
		<div class="row">
			<table>
				<thead>
					<th>Your Status</th>
					<th>Time Posted</th>
				</thead>

				<tbody>
					{% for f in data%}
					<tr>
						<td>{{f.content}}</td>
						<td>{{f.time}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</body>

	
