{%extends 'main.html'%}
{%load static%}

{%block content%}
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <title>Mila Kaamiliaa - Sign Up</title>
    </head>

    <body>
            <h2>Sign Up!</h2>

            <form>
                <div class="form-group-4">
                    <label for="InputName">Name</label>
                    <input type="text" class="form-control" id="InputName" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="InputDate">Date of Birth</label>
                    <input type="date" class="form-control" id="InputDate">
                </div>
                <div class="form-group">
                    <label for="InputEmail">Email address</label>
                    <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="InputUsername">Username</label>
                    <input type="text" class="form-control" id="InputUsername" placeholder="@">
                </div>
                <div class="form-group">
                    <label for="InputPassword">Password</label>
                    <input type="password" class="form-control" id="InputPassword" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="InputPassword">Password Confirmation</label>
                    <input type="password" class="form-control" id="InputPassword" placeholder="Password">
                    <small id="passConfirmation" class="form-text text-muted">Password Confirmation</small>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="Check">
                    <label class="form-check-label" for="Check">I'm over 10 years old.</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </body>
{%endblock%}