{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class = "container">
	<div class="row" style="margin: 20%; position: absolute; left: 15%;">
    <table class = "table">
        <thead>
            <th>Date</th>
            <th>Activity</th>
            <th>Location</th>
            <th>Category</th>
        </thead>
        <tbody>
            {% for i in sched %}
   			<tr>
                <td>{{i.date}}</td>
                <td>{{i.activity}}</td>
                <td>{{i.location}}</td>
                <td>{{i.category}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<form id ="" action="deleteact">
    <div class = "submit-btn" style="position: relative; top: 250px; left: 50%;">
        <input id="submit"type="submit"class="btn btn-dangery"value="Delete All" style="font-size: 20px;">
    </div>
</form>
</div>

{% endblock %}