{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class = "schedule">
	<h1>Input your activities!</h1>
    <form id = "form" action="{%url 'post'%}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <br>
        <button type="submit" class="btn btn-default">Submit</button>
        
    </form>
</div>
{% endblock %}