{%extends 'main.html'%}
{%load static%}

{%block content%}
        <head>
                <title>Mila Kaamiliaa - Skills</title>
        </head>
        
        <body>
            <h1 id="prog">Hello!<br>This page is still in progress</h1>
        </body>
{%endblock%}
