<!DOCTYPE html>
<html lang="en">

<!--            Siti Kaamiliaa Hasnaa.           -->
<head>
	<h1 style="
	font-family: arial; 
	text-align: center; 
	margin-bottom:1px; 
	padding-bottom: 1px;">
		Hi! I'm {{ name }}
	</h1>

	<h3 style="
	text-align: center; 
	margin-top:1px; 
	padding-top:1px">
		<i>A Computer Science Student</i>
	</h3>
</head>
<!--             header                          -->


<body style="background-color:#F8B195;">

	<p><br></p>
	

	<div style="
	width: 700px; 
	margin: auto; 
	align-self: center;">

<!-- Round Frame img -->
	<img src="https://projects.co.id/upload/usrd7c216/201806165b2402683a13a.jpg" width="200" height="200" align="left" style="
	margin-left: 50px; 
	margin-top: 30px; 
	margin-bottom: 20px; 
	-webkit-border-radius: 50%; 
	-moz-border-radius: 50%; 
	-ms-border-radius: 50%; 
	-o-border-radius: 50%; 
	border-radius: 50%;">
<!--  Round Frame img -->

<!--      Biodata     -->
	<p id="bio" align="left" style="
	/*background-color: #F67280; 
	padding-bottom: 130px; 
	padding-right: 5px;
	padding-left: 100px;*/
	border: 20px solid #F67280;
	width: 700px;
	height: 220px;
	margin: auto;
	background-color: #F67280;

	">
	<br><br><br>

		&emsp;&emsp;&emsp;&emsp;Age				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;: {{ age }}<br>
		&emsp;&emsp;&emsp;&emsp;Student Number 	&emsp;&emsp;: {{ npm }}<br>
		&emsp;&emsp;&emsp;&emsp;Institute  		&emsp;&emsp;&emsp;&emsp;&emsp;  : University of Indonesia</a> <br>
	   	&emsp;&emsp;&emsp;&emsp;Hobby			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;: Being Annoying</p>

	<p><br><br></b></p>

	</div>
<!--   Biodata      -->


<!--    Self Desc.  -->
	<p title="About Me" style="text-align: center; background-color: #C06C84; padding: 20px; border: 3px solid #6C5B7B;">
		'Im turning 19 soon and i still cant figure life out. Humor is my defense mechanism against life. When you know you cant beat them, join them right?'
	</p>

	<div style="
	width: 700px; 
	margin: auto; 
	align-self: center;">



<!--                        BRAMANTIO AJI.                            -->
		<h2 style="text-align: center; font-family: arial;">
			<br><br>Hi! This is Bramantio Krisno Aji<br><br>
		</h2>

		<img src="https://lh6.googleusercontent.com/YoKBMliHvHnpVS2V9LGceLygJxnbW_eKnIwbYR_uIiyAQw9ppQhkvHjEDZrN5DGtXLOufYWAYIfmN2iHCME=w2202-h1410-rw" width="200" height="200" align="left" style="
	margin-left: 50px; 
	margin-top: 30px; 
	margin-bottom: 20px; 
	-webkit-border-radius: 50%; 
	-moz-border-radius: 50%; 
	-ms-border-radius: 50%; 
	-o-border-radius: 50%; 
	border-radius: 50%;">

	<p id="bio" align="left" style="
	border: 20px solid #F67280;
	width: 700px;
	height: 220px;
	margin: auto;
	background-color: #F67280;

	">
	<br><br><br>

		&emsp;&emsp;&emsp;&emsp;Age				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;: 19<br>
		&emsp;&emsp;&emsp;&emsp;Student Number 	&emsp;&emsp;: 1706024495<br>
		&emsp;&emsp;&emsp;&emsp;Institute  		&emsp;&emsp;&emsp;&emsp;&emsp;  : University of Indonesia</a> <br>
	   	&emsp;&emsp;&emsp;&emsp;Hobby			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;: Automotive</p>

	<p><br><br></b></p>

	</div>

	<p title="About Aji" style="text-align: center; background-color: #C06C84; padding: 20px;  border: 3px solid #6C5B7B;">
		'Let me introduce my self, my name is Bramantio Krisno Aji but my friends like to call me Aji, im just an extraordinary teenager that wanna be a Professional Backended and Developer.'
	</p>

	<div style="
	width: 700px; 
	margin: auto; 
	align-self: center;">


<!--            Darin Amanda Zakiya.            -->

		<h2 style="text-align: center; font-family: arial;">
			<br><br>Hi! This is Darin Amanda Zakiya<br><br>
		</h2>

		<img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/40854004_512628222566610_6812569312646135808_n.jpg?_nc_cat=0&oh=49e288ae095ece87dd5005e7fdf09617&oe=5C2D9B1B" width="200" height="200" align="left" style="
	margin-left: 50px; 
	margin-top: 30px; 
	margin-bottom: 20px; 
	-webkit-border-radius: 50%; 
	-moz-border-radius: 50%; 
	-ms-border-radius: 50%; 
	-o-border-radius: 50%; 
	border-radius: 50%;">

	<p id="bio" align="left" style="
	border: 20px solid #F67280;
	width: 700px;
	height: 220px;
	margin: auto;
	background-color: #F67280;

	">
	<br><br><br>

		&emsp;&emsp;&emsp;&emsp;Age				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;: 19<br>
		&emsp;&emsp;&emsp;&emsp;Student Number 	&emsp;&emsp;: 1706979190<br>
		&emsp;&emsp;&emsp;&emsp;Institute  		&emsp;&emsp;&emsp;&emsp;&emsp;  : University of Indonesia</a> <br>
	   	&emsp;&emsp;&emsp;&emsp;Hobby			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;: Sleeping</p>

	<p><br><br></b></p>

	</div>

	<p title="About Me" style="text-align: center; background-color: #C06C84; padding: 20px;  border: 3px solid #6C5B7B;">
		'I am currently a 2nd-year undergraduate student at Faculty of Computer Science, University of Indonesia, majoring in Computer Science. I love sleeping!'
	</p>
	

</body>
</html>