
<!DOCTYPE html>
<html>
{%load static%}
<head>
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'post.css'%}">
	<title>How's your day?</title>
</head>
<body>
	<div>
		<h1>Hello, Apa kabar?</h1>
	    <form id = "form" action="{%url 'post'%}" method="POST">
	        {% csrf_token %}
	        {{ form.as_p }}

	        <br>
	        <button type="submit" class="btn btn-default">Submit</button>
	    </form>
	    <a href="{% url 'home' %}">Go to Profile</a>
	</div>

	<div class="table">
		<div class="row">
			<table>
				<thead>
					<th>Your Status</th>
					<th>Time Posted</th>
				</thead>

				<tbody>
					{% for f in data %}
					<tr>
						<td>{{f.content}}</td>
						<td>{{f.time}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</body>

{%block content%}
{%endblock%}

	
